/*  CERVEZA */

.logoBordona{
    width: 15vw;
    height: 25vh;
    margin: 5px;
    margin-right: 50px;
}

.logoGambrinus {
    width: 15vw;
    height:17vh;
    margin: 5px;
    margin-right: 50px;
}

/* SECCIONES */

.seccionesCerv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    margin: 10px;
    text-align: justify;
    article{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}

.secIzqCerv {
    display: flex;
    flex-direction: row;
    h2{
    padding:10px;
    }
    p{
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .secIzqCerv {
        display: flex;
        flex-direction: column;
        h2{
            padding:10px;
        }
        p{
            padding: 10px;
        }
    }

    .logoBordona{
        width: 45vw;
        height: 20vh;
        margin: 5px;
        margin-right: 50px;
    }
    
    .logoGambrinus {
        width: 45vw;
        height:15vh;
        margin: 5px;
        margin-right: 50px;
    }
}