//HEADER Y CARROUSEL

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 1%;
    background-color:azure;
    img{
        height: 8vh;
        border-radius: 50%;
    }
}


/* CARROUSEL */

img {
    height: 88vh;
}
