//HEADER Y CARROUSEL

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 1%;
    background-color:white;
    img{
        height: 8vh;
        border-radius: 50%;
    }
}

.letras {
    a{
        color: rgb(135,214,133) !important;
    }
}

/* CARROUSEL */

img {
    height: 88vh;
}