/* SECCIONES */

.secciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    margin: 10px;
    text-align: justify;
    h1{
        text-align: center;
        
    }
    img{
        border-radius: 7%;
    }
}

.secIzq {
    display: flex;
    flex-direction: row;
    h2{
    padding:10px;
    }
    p{
        padding: 10px;
        text-align: justify;
    }
}

.secDer {
    display: flex;
    flex-direction: row-reverse;
    h2{
        padding:10px;
        text-align: right;
    }
    p{
        padding: 10px;
        text-align: justify;
    }
}